/* Custom Styles */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#home {
    background: url('background.jpeg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home h1 {
    font-size: 4rem;
    font-weight: bold;
}

#about p {
    font-size: 1.2rem;
    line-height: 1.6;
}

.card {
    margin-top: 20px;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

